/* dropdown */
.search-dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: #FFFFFF;
    border: 1px solid var(--Surface-Border-Primary, #D9D9D9);
    border-radius: 8px;
    margin-top: 4px;
    box-shadow: 0px 4px 6px -2px rgba(0, 0, 0, 0.05);
    display: none;
    z-index: 999999;
}

.search-container input:focus + .search-dropdown,
.search-dropdown:hover {
    display: block;
}

.dropdown-item {
    padding: 12px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
}

.sort-dropdown .dropdown-item:hover {
    background: var(--Background-Disable-Red, #FBE8E6);
}

.dropdown-item:hover {
    background: var(--Background-Disable-Red, #FBE8E6);
}

.item-info {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.sort-dropdown {
    position: absolute;
    top: 100%;
    right: 0;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 6px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    display: flex;
    width: 226px;
    padding: var(--x, 4px) 0px;
    flex-direction: column;
    align-items: flex-start;

    max-height: 200px;
    overflow-y: auto;
}

.sort-dropdown .dropdown-item {
    padding: 8px 12px;
    cursor: pointer;
    transition: background 0.2s;
}

.sort-dropdown::-webkit-scrollbar {
    width: 6px;
}
.sort-dropdown::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 3px;
}

.dropdown-item {
    padding: 8px 12px;
    cursor: pointer;
    transition: background 0.2s;
}

.dropdown-item.active {
    background-color: var(--Red-Red-500, #E62129);
    color: white;
}


.dropdown-item.selected {
    color: var(--Red-Red-500, #E62129);
}

