.form-section{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 10px 20px 0 20px;
}

.form-title-text{
    padding: 10px 20px 0 20px;
    color: var(--Neutral-Gray-800, #262626);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; 
}

.form-group {
    display: flex;
    align-items: center;
    gap: 12px; 
    margin: 8px 8px 8px 0px;
}

.form-group label {
    white-space: nowrap;
    font-weight: 500;
    color: var(--Neutral-Gray-800, #262626);
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    display: flex;
    width: 200px;
    align-items: center;
    gap: var(--2x, 8px);
}

.form-group .search-container .search-input{
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
}

.form-group input[type="text"],
.form-group input[type="datetime-local"] {
    width: 100%;
    padding: 8px 12px;
    border: 1px solid var(--Surface-Border-Primary, #D9D9D9);
    border-radius: 8px;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; 
}

.form-group input,
.form-group button {
    flex: 1;
}

.input-by-search {
    position: relative;
    width: 100%;
    flex: 1; /* Tambahkan ini agar ikut aturan flex parent .form-group */
    display: flex;
    align-items: center;
    margin-left: 0;
    padding-left: 0;
}

.form-control {
    width: 100%;
    padding-right: 40px; /* space for the icon on the right */
    box-sizing: border-box;
    padding-left: 12px;
    border: 1px solid var(--Surface-Border-Primary, #D9D9D9);
    border-radius: 8px;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    height: 40px;
}

.input-by-search .input-search-icon {
    position: absolute;
    right: 14px;
    top: 50%;
    transform: translateY(-50%);
    width: 18px;
    height: 18px;
    pointer-events: none;
    z-index: 2;
}

.form-error-message {
    color: #E62129;
    font-size: 13px;
    margin-top: 4px;
    min-height: 18px;
    display: block;
}