/* CSS Header */

.header {
    height: 136px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 1rem 1.5rem; */
    background-color: white;
    box-shadow: 0 2px 4px rgba(0,0,0,0.05);
    /* width: 1146px; */
    width: 100%;
    overflow: hidden;
}

.header-left {
    display: flex;
    width: 721px;
    padding: 30px 20px 20px 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    /* border-top: 1px solid var(--Surface-Border-Primary, #D9D9D9); */
    /* border-bottom: 1px solid var(--Surface-Border-Primary, #D9D9D9); */
    background: var(--Neutral-Gray-50, #FFF);
}

.header-right {
    position: relative;
    width: 425px;
    height: 136px;
    display: inline-flex;
    padding: 0;
    margin: 0;
}

.header-right-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background: url('../images/bg-white.png') no-repeat; */
    background-size: cover;
}

.header-right-content {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 30px 40px 20px 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    z-index: 2;
}

.header-left-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px;
}