

.text-black-24{
    color: var(--Neutral-Gray-800, #262626);

    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px; /* 133.333% */
}

.text-black-16{
    color: #202027;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; /* 150% */
}

.text-gray-14{
    color: var(--Neutral-Gray-700, #595959);
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; /* 157.143% */
}

.text-gray-12{
    color: var(--Neutral-Gray-700, #595959);

    /* Desktop/Caption/Small/Regular */
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 166.667% */
}

.text-gray-10{
    color: var(--Neutral-Gray-700, #595959);
    font-family: Poppins;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 12px; /* 120% */
}

/* Standard typography for this project */
.h1{
    color: var(--Neutral-Gray-800, #262626);
    font-family: Poppins;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 64px; 
}

.h2{
    color: var(--Neutral-Gray-800, #262626);
    font-family: Poppins;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 54px; 
}

.h3{
    color: var(--Neutral-Gray-800, #262626);
    font-family: Poppins;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 46px;
}

.h4{
    color: var(--Neutral-Gray-800, #262626);
    font-family: Poppins;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 38px; 
}

.h5{
    color: var(--Neutral-Gray-800, #262626);
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px; 
}

.h6{
    color: var(--Neutral-Gray-800, #262626);
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px; 
}

.text-lg-bd{
    color: var(--Neutral-Gray-800, #262626);
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px; 
}

.text-lg-it{
    color: var(--Neutral-Gray-800, #262626);
    font-family: Poppins;
    font-size: 20px;
    font-style: italic;
    font-weight: 400;
    line-height: 28px; 
}

.text-lg-rg{
    color: var(--Neutral-Gray-800, #262626);
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; 
}

.text-md-bd{
    color: var(--Neutral-Gray-800, #262626);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; 
}

.text-md-it{
    color: var(--Neutral-Gray-800, #262626);
    font-family: Poppins;
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
    line-height: 24px;
}

.text-md-rg{
    color: var(--Neutral-Gray-800, #262626);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.text-sm-bd{
    color: var(--Neutral-Gray-800, #262626);
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px;
}

.text-sm-it{
    color: var(--Neutral-Gray-800, #262626);
    font-family: Poppins;
    font-size: 14px;
    font-style: italic;
    font-weight: 400;
    line-height: 22px;
}

.text-sm-rg{
    color: var(--Neutral-Gray-800, #262626);
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
}

.caption-bd{
    color: var(--Neutral-Gray-800, #262626);
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
}

.caption-it{
    color: var(--Neutral-Gray-800, #262626);
    font-family: Poppins;
    font-size: 12px;
    font-style: italic;
    font-weight: 400;
    line-height: 20px;
}

.caption-rg{
    color: var(--Neutral-Gray-800, #262626);
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

.pixie-bd{
    color: var(--Neutral-Gray-800, #262626);
    font-family: Poppins;
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    line-height: 12px;
}

.pixie-it{
    color: var(--Neutral-Gray-800, #262626);
    font-family: Poppins;
    font-size: 10px;
    font-style: italic;
    font-weight: 400;
    line-height: 12px;
}

.pixie-rg{
    color: var(--Neutral-Gray-800, #262626);
    font-family: Poppins;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 12px;
}