@import "tailwindcss";
@import '../../vendor/livewire/flux/dist/flux.css';

/* Scrollbar */
@layer utilities {
  .scroll-thin {
    scrollbar-width: thin;
    scrollbar-color: theme('colors.gray.400') transparent;
  }

  .scroll-thin::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  .scroll-thin::-webkit-scrollbar-thumb {
    background-color: theme('colors.gray.400');
    border-radius: 9999px;
  }
}

/* Status Pill */
@layer utilities {
  .pill {
    @apply inline-flex items-center px-2 py-1 rounded-lg text-xs font-semibold;
  }

  .pill-wait {
    background: linear-gradient(90deg, white, theme('colors.yellow.100'));
  }

  .pill-del {
    background: linear-gradient(90deg, white, theme('colors.blue.100'));
  }

  .pill-rej {
    background: linear-gradient(90deg, white, theme('colors.red.100'));
  }

  .pill-ok {
    background: linear-gradient(90deg, white, theme('colors.green.400'));
  }
}