@import "tailwindcss";
@import '../../vendor/livewire/flux/dist/flux.css';
@import './config.css';
@import './base/element.css';
@import './components/components.css';
@import './utilities/utilities.css';


/* hold dulu */
@layer utilities {

  .pill-wait {
    background: linear-gradient(90deg, white, theme('colors.yellow.100'));
  }

  .pill-del {
    background: linear-gradient(90deg, white, theme('colors.blue.100'));
  }

  .pill-rej {
    background: linear-gradient(90deg, white, theme('colors.red.100'));
  }

  .pill-ok {
    background: linear-gradient(90deg, white, theme('colors.green.400'));
  }
}