/* START TAILWIND CSS */
@import "tailwindcss";

@import '../../vendor/livewire/flux/dist/flux.css';

@custom-variant dark (&:where(.dark, .dark *));

@theme {

  /* === Font === */
  --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Color Emoji';

  /* === Red (SIUP Red) === */
  --color-red-50: #FBDADB;
  --color-red-100: #F7B6B8;
  --color-red-200: #F39194;
  --color-red-300: #EF6C70;
  --color-red-400: #EB474D;
  --color-red-500: #E62129;
  --color-red-600: #CA161C;
  --color-red-700: #A51217;
  --color-red-800: #810E12;
  --color-red-900: #5C0A0D;

  /* === Green Pear === */
  --color-green-50: #FAFBEE;
  --color-green-100: #EFF4CD;
  --color-green-200: #E5EDAB;
  --color-green-300: #DBE58A;
  --color-green-400: #D0DE68;
  --color-green-500: #C2D43D;
  --color-green-600: #B6C92C;
  --color-green-700: #98A725;
  --color-green-800: #7A861D;
  --color-green-900: #5B6416;

  /* === Honolulu Blue === */
  --color-blue-50: #99D8FF;
  --color-blue-100: #70C8FF;
  --color-blue-200: #47B9FF;
  --color-blue-300: #1FA9FF;
  --color-blue-400: #0097F5;
  --color-blue-500: #0076BE;
  --color-blue-600: #0065A3;
  --color-blue-700: #004B7A;
  --color-blue-800: #003252;
  --color-blue-900: #001929;

  /* === Beaver === */
  --color-beaver-50: #E5E1DC;
  --color-beaver-100: #D4CDC4;
  --color-beaver-200: #C2B9AD;
  --color-beaver-300: #B1A595;
  --color-beaver-400: #A0917E;
  --color-beaver-500: #8A7A65;
  --color-beaver-600: #756857;
  --color-beaver-700: #5E5345;
  --color-beaver-800: #463E34;
  --color-beaver-900: #2F2A23;

  /* === Neutral Gray === */
  --color-gray-50: #FFFFFF;
  --color-gray-100: #FAFAFA;
  --color-gray-200: #F5F5F5;
  --color-gray-300: #E8E8E8;
  --color-gray-400: #D9D9D9;
  --color-gray-500: #BFBFBF;
  --color-gray-600: #8C8C8C;
  --color-gray-700: #595959;
  --color-gray-800: #262626;
  --color-gray-900: #1C1C1C;

  /* === Yellow === */
  --color-yellow-50: #FFFBEB;
  --color-yellow-100: #FEF3C0;
  --color-yellow-400: #FDE05D;
  --color-yellow-500: #FDD835;
  --color-yellow-600: #E6C530;

  /* === Crayola === */
  --color-crayola-500: #F5A623;

   /* === Disable === */
   --color-disable-red: #FBE8E6;
   --color-disable-blue: #E9EDF4;
   --color-disable-white: #F5F5F5;
   --color-disable-yellow: #FFFBEB;
   --color-disable-grey: #E8E8E8;
}

@layer utilities {

  .h1 { @apply text-6xl leading-16 font-bold; }
  .h2 { @apply text-5xl leading-13.5 font-bold; }
  .h3 { @apply text-4xl leading-11.5 font-bold; }
  .h4 { @apply text-3xl leading-9.5 font-bold; }
  .h5 { @apply text-2xl leading-8 font-bold; }
  .h6 { @apply text-xl leading-7 font-bold; }
  .body-large { @apply text-xl leading-7; }
  .body-medium { @apply text-base leading-6; }
  .body-small { @apply text-sm leading-5.5; }
  .caption { @apply text-xs leading-5; }
  .pixie { @apply text-[0.625rem] leading-3; }

  .content-wrapper { @apply px-5 flex flex-col gap-5; }
  .content { @apply p-5 bg-white border border-gray-400; }
  .wide { @apply max-w-screen-xl px-4; }
  .narrow { @apply max-w-lg px-4; }
  .content-grey { @apply p-5 bg-gray-400 rounded-3xl min-h-17; }

  @media(min-width: 1280px) {
    .h1 { @apply text-6xl leading-16 font-bold; }
    .h2 { @apply text-5xl leading-13.5 font-bold; }
    .h3 { @apply text-4xl leading-11.5 font-bold; }
    .h4 { @apply text-3xl leading-9.5 font-bold; }
    .h5 { @apply text-2xl leading-8 font-bold; }
    .h6 { @apply text-xl leading-7 font-bold; }
    .body-large { @apply text-xl leading-7; }
    .body-medium { @apply text-base leading-6; }
    .body-small { @apply text-sm leading-5.5; }
    .caption { @apply text-xs leading-5; }
    .pixie { @apply text-[0.625rem] leading-3; }

    .content-wrapper { @apply px-5 flex flex-col gap-5; }
    .content { @apply p-4 bg-white border border-gray-400; }
    .wide { @apply max-w-screen-xl px-4; }
    .narrow { @apply max-w-lg px-4; }
    .content-grey { @apply p-4 bg-gray-400 rounded-3xl min-h-17; }
  }
}

.scroll-thin {
  scrollbar-width: thin;
  scrollbar-color: #D9D9D9 transparent;
}

.scroll-thin::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.scroll-thin::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
  border-radius: 9999px;
}

.scroll-thin::-webkit-scrollbar-track {
  background: transparent;
}


* {
  font-family: Poppins;
}

/* END OF TAILWIND CSS  */

.pill {
  display: inline-flex;
  align-items: center;
  padding: 6px 10px;
  border-radius: 8px;
  font-size: 12px;
  font-weight: 600;
}

.wait {
  background: linear-gradient(90deg, #FFFFFF, #FEF3C0);
}

.del {
  background: linear-gradient(90deg, #FFFFFF, #99D8FF);
}

.rej {
  background: linear-gradient(90deg, #FFFFFF, #F7B6B8);
}

.ok {
  background: linear-gradient(90deg, #FFFFFF, #D0DE68);
}