@import "tailwindcss";

@theme {
    /* === Font === */
    --font-sans: "Poppins", "Instrument Sans", ui-sans-serif, system-ui,
        sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";

    /* === Red (SIUP Red) === */
    --color-red-50: #fbdadb;
    --color-red-100: #f7b6b8;
    --color-red-200: #f39194;
    --color-red-300: #ef6c70;
    --color-red-400: #eb474d;
    --color-red-500: #e62129;
    --color-red-600: #ca161c;
    --color-red-700: #a51217;
    --color-red-800: #810e12;
    --color-red-900: #5c0a0d;

    /* === Green Pear === */
    --color-green-50: #fafbee;
    --color-green-100: #eff4cd;
    --color-green-200: #e5edab;
    --color-green-300: #dbe58a;
    --color-green-400: #d0de68;
    --color-green-500: #c2d43d;
    --color-green-600: #b6c92c;
    --color-green-700: #98a725;
    --color-green-800: #7a861d;
    --color-green-900: #5b6416;

    /* === Honolulu Blue === */
    --color-blue-50: #99d8ff;
    --color-blue-100: #70c8ff;
    --color-blue-200: #47b9ff;
    --color-blue-300: #1fa9ff;
    --color-blue-400: #0097f5;
    --color-blue-500: #0076be;
    --color-blue-600: #0065a3;
    --color-blue-700: #004b7a;
    --color-blue-800: #003252;
    --color-blue-900: #001929;

    /* === Beaver === */
    --color-beaver-50: #e5e1dc;
    --color-beaver-100: #d4cdc4;
    --color-beaver-200: #c2b9ad;
    --color-beaver-300: #b1a595;
    --color-beaver-400: #a0917e;
    --color-beaver-500: #8a7a65;
    --color-beaver-600: #756857;
    --color-beaver-700: #5e5345;
    --color-beaver-800: #463e34;
    --color-beaver-900: #2f2a23;

    /* === Neutral Gray === */
    --color-gray-50: #ffffff;
    --color-gray-100: #fafafa;
    --color-gray-200: #f5f5f5;
    --color-gray-300: #e8e8e8;
    --color-gray-400: #d9d9d9;
    --color-gray-500: #bfbfbf;
    --color-gray-600: #8c8c8c;
    --color-gray-700: #595959;
    --color-gray-800: #262626;
    --color-gray-900: #1c1c1c;

    /* === Yellow === */
    --color-yellow-50: #fffbeb;
    --color-yellow-100: #fef3c0;
    --color-yellow-400: #fde05d;
    --color-yellow-500: #fdd835;
    --color-yellow-600: #e6c530;

    /* === Crayola === */
    --color-crayola-500: #f5a623;

    /* === Disable === */
    --color-disable-red: #fbe8e6;
    --color-disable-blue: #e9edf4;
    --color-disable-white: #f5f5f5;
    --color-disable-yellow: #fffbeb;
    --color-disable-gray: #e8e8e8;

    /* shadow */
    --shadow-high: 0px 16px 36px 0px rgba(60, 65, 82, 0.1);
    --shadow-high-inverse: 0px -16px 36px 0px rgba(60, 65, 82, 0.1);
    --shadow-medium: 0px 8px 24px 0px rgba(60, 65, 82, 0.15);
    --shadow-medium-inverse: 0px -8px 24px 0px rgba(60, 65, 82, 0.15);
    --shadow-low: 0px 4px 8px 0px rgba(60, 65, 82, 0.2);
    --shadow-low-inverse: 0px -4px 8px 0px rgba(60, 65, 82, 0.2);

    /* border */
    /* radius */
    --radius-xs: 4px;
    --radius-sm: 8px;
    --radius-md: 12px;
    --radius-lg: 20px;
    /* width */
    --border: 1px;
    --border-2: calc(var(--border) * 2);
    --border-3: calc(var(--border) * 3);
    --border-4: calc(var(--border) * 4);
    --border-5: calc(var(--border) * 5);
    --border-6: calc(var(--border) * 6);
    --border-7: calc(var(--border) * 7);
    /* style */
    --border-solid: solid;
    --border-dashed: dashed;
    --border-dotted: dotted;
    --border-double: double;
    --border-hidden: hidden;
    --border-none: none;

    /* spacing */
    --spacing: 4px;

    --spacing-1x: calc(var(--spacing) * 1); /* 4px */
    --spacing-2x: calc(var(--spacing) * 2); /* 8px */
    --spacing-2\.5x: calc(var(--spacing) * 2.5); /* 10px */
    --spacing-3x: calc(var(--spacing) * 3); /* 12px */
    --spacing-4x: calc(var(--spacing) * 4); /* 16px */
    --spacing-5x: calc(var(--spacing) * 5); /* 20px */
    --spacing-6x: calc(var(--spacing) * 6); /* 24px */
    --spacing-7x: calc(var(--spacing) * 7); /* 28px */

    /* --breakpoint-2xl: ...px */
    --breakpoint-xl: 1440px;
    /* --breakpoint-lg: ...px */
    /* --breakpoint-md: ...px */
    /* --breakpoint-sm: ...px */

    --filter-white: brightness(0) invert(100%);
    --filter-gray: brightness(0) invert(54%);
}
