@layer utilities {
    /* width */
    .border-1 {
        border-width: var(--border);
    }
    .border-2 {
        border-width: var(--border-2);
    }
    .border-3 {
        border-width: var(--border-3);
    }
    .border-4 {
        border-width: var(--border-4);
    }
    .border-5 {
        border-width: var(--border-5);
    }
    .border-6 {
        border-width: var(--border-6);
    }
    .border-7 {
        border-width: var(--border-7);
    }
}
