@layer utilities {
    .card-mk-base { @apply w-full max-w-85.5 h-full max-h-25 rounded-md border p-4 bg-cover bg-center bg-no-repeat flex flex-col gap-1; }
    .card-mk-primary { @apply text-white bg-top; }
    .card-mk-secondary { @apply border-disable-gray bg-gray-50; }

    .card-jadwal { @apply max-h-20 min-h-14 rounded-sm p-2 cursor-pointer w-full; }
    .card-jadwal.week  { @apply max-w-33.75; }
    .card-jadwal.day  { @apply max-w-241; }

    .card-jadwal.disable { @apply border border-gray-400 bg-disable-gray; }
    .card-jadwal.active { @apply bg-red-400 text-white; }
    .card-jadwal .time.disable { @apply text-red-500 self-center; }
    .card-jadwal .time.active { @apply text-white; }

    .card-jadwal-popup { @apply absolute z-1000 shadow-high bg-disable-gray w-xs rounded-md max-h-56 left-1/2 -translate-x-1/2 top-5; }

    .card-status-mahasiswa { @apply flex flex-row w-max h-max;}
    .card-status-mahasiswa.data { @apply flex flex-row gap-1.5 px-5 py-2 bg-white w-max rounded-l-md items-center;}
    .card-status-mahasiswa.status { @apply rounded-r-md px-5 py-3 w-max h-full flex items-center;}
    .card-status-mahasiswa.status.aktif { @apply bg-green-400 text-gray-800 text-base;}
    .card-status-mahasiswa.status.lulus { @apply bg-blue-500 text-gray-50 text-[15px];}
    .card-status-mahasiswa.status.dropout { @apply bg-red-500 text-gray-50 text-xs;}
}