@layer utilities {
    .checklist { @apply accent-red-500 w-fit pe-10 box-border flex items-center ps-3 border border-gray-400 rounded-lg text-sm leading-5 h-6 disabled:cursor-not-allowed; }
    .checklist-container { @apply flex gap-3 items-center}
}
