@import './container.css';
@import './shadow.css';
@import './tooltip.css';
@import './dialog.css';
@import './badge.css';
@import './dropdown.css';
@import './input.css';
@import './textarea.css';
@import './card-mata-kuliah.css';
@import './breadcrumb.css';
@import './tab.css';
