@layer utilities {
  .content { @apply bg-white border border-gray-400 rounded-md; }
  .wide { @apply max-w-screen max-h-screen; }
  .narrow { @apply max-w-lg; }
  .content-grey { @apply bg-gray-400 rounded-md min-h-17; }
  .content-disable-white { @apply bg-disable-white rounded-md min-h-17; }
  .content-sender { @apply bg-green-100 w-full border border-gray-400 rounded-md rounded-tl-none; }
  .content-receiver { @apply bg-blue-50 w-full border border-gray-400 rounded-md rounded-tl-none; }
  .red-gradient { @apply bg-gradient-to-r from-white to-disable-red flex; }
  .green-gradient { @apply bg-gradient-to-r from-white to-green-400 flex; }
  .blue-gradient { @apply bg-gradient-to-r from-white to-blue-50 flex; }
  .yellow-gradient { @apply bg-gradient-to-r from-white to-yellow-100 flex; }
  .disable-blue { @apply bg-disable-blue flex; }
  .disable-red-gradient { @apply p-5 border border-gray-400 bg-linear-to-r from-disable-red to-white h-max rounded-t-lg; }
  .content-under-navbar { @apply flex flex-col gap-5 p-5 items-stretch border border-gray-400 border-t-red-200 bg-white rounded-b-lg overflow-visible relative z-1;}
}