@layer utilities {
    .dialog-base { @apply p-4 border rounded-sm flex flex-row gap-4 mx-auto my-4 text-left; }

    .warning { @apply bg-yellow-50 border-yellow-500; }
    .danger { @apply bg-disable-red border-red-400; }
    .info { @apply bg-gray-200 border-gray-400; }
    .success { @apply bg-disable-blue border-blue-500; }
}
