@layer utilities {
    .dropdown-button { @apply flex items-center text-sm py-2 px-4 cursor-pointer border transition-all duration-200 rounded-sm; }
    .dropdown-gray { @apply  text-sm justify-between w-full border-gray-500 bg-white;  }
    .dropdown-red { @apply  gap-2 bg-transparent border-red-500 text-red-500 hover:bg-red-50 active:bg-red-100; }
    .dropdown-option { @apply absolute top-full bg-white border border-gray-300 rounded-md flex-col items-start max-h-50 overflow-y-auto z-10; }
    .dropdown-option-gray { @apply min-w-60 right-0; }
    .dropdown-option-red { @apply w-full right-0 left-0; }
    .dropdown-option-item { @apply px-3 py-2 cursor-pointer hover:bg-gray-200 transition-[background] duration-200 flex justify-between items-center text-sm w-full; }
}
