@layer utilities {
    .input-wrap { @apply p-4 sm:p-5 border border-gray-400 text-sm w-full box-border mx-auto px-3! rounded-sm leading-5 h-10 flex items-center; }
    .input-disabled { @apply bg-gray-200 text-gray-600 cursor-not-allowed; }
    .input-base { @apply border-transparent focus:outline-none w-full read-only:bg-[#F5F5F5] disabled:bg-gray-200 disabled:text-gray-600 disabled:cursor-not-allowed; }
    .input-label { @apply text-sm font-medium text-gray-700; }
}
