@layer components {
    .input-root {
        @apply w-full;
    }

    .input-label {
        @apply block text-sm font-semibold mb-2 transition-colors duration-200 text-gray-700;
    }

    .input-label-error {
        @apply !text-red-500;
    }


    .input-group {
        @apply flex items-center w-full border rounded-md transition-colors duration-200 overflow-hidden px-3;
    }

    .input-group-normal {
        @apply bg-white border-gray-300 focus-within:border-blue-500 focus-within:ring-1 focus-within:ring-blue-500;
    }

    .input-group-error {
        @apply !border-red-500 focus-within:!border-red-500 focus-within:ring-red-500;
    }

    .input-group-disabled {
        @apply bg-gray-100 border-gray-500 cursor-not-allowed opacity-75;
    }

    .input-element {
        @apply w-full border-none focus:ring-0 bg-transparent py-2.5 outline-none text-sm text-gray-700 placeholder-gray-400;
    }

    .input-element-error {
        @apply text-red-600 placeholder-red-300;
    }

    .input-icon-remove {
        @apply cursor-pointer text-gray-400 hover:text-gray-600 transition-colors;
    }

    .input-icon-error {
        @apply text-red-500 pr-2;
    }

    .input-helper {
        @apply mt-1 ml-1 text-xs font-medium transition-colors duration-200 min-h-[1.25rem];
    }

    .input-helper-normal {
        @apply text-gray-500;
    }

    .input-helper-error {
        @apply text-red-500;
    }
}