@layer utilities {
    .shadow-low {
        box-shadow: var(--shadow-low);
    }

    .shadow-low-inverse {
        box-shadow: var(--shadow-low-inverse);
    }

    .shadow-medium {
        box-shadow: var(--shadow-medium);
    }

    .shadow-medium-inverse {
        box-shadow: var(--shadow-medium-inverse);
    }

    .shadow-high {
        box-shadow: var(--shadow-high);
    }

    .shadow-high-inverse {
        box-shadow: var(--shadow-high-inverse);
    }
}
