@layer utilities {
  .scroll-thin {
    scrollbar-width: thin;
    scrollbar-color: var(--color-gray-600) var(--color-gray-200);
    z-index: 1000;
  }

  :root .scroll-thin::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  :root .scroll-thin::-webkit-scrollbar-thumb {
    background-color: var(--color-gray-600);
    border-radius: 9999px;
  }

  :root .scroll-thin::-webkit-scrollbar-track {
    background: var(--color-gray-200);
  }

  .scroll-hide {
    scrollbar-width: none;
  }

  :root .scroll-hide::-webkit-scrollbar {
    display: none;
  }
}