@layer utilities {
  .h1 { @apply text-6xl leading-16 font-bold; }
  .h2 { @apply text-5xl leading-13.5 font-bold; }
  .h3 { @apply text-4xl leading-11.5 font-bold; }
  .h4 { @apply text-3xl leading-9.5 font-bold; }
  .h5 { @apply text-2xl leading-8 font-bold; }
  .h6 { @apply text-xl leading-7 font-bold; }

  .body-large { @apply text-xl leading-7; }
  .body-medium { @apply text-base leading-6; }
  .body-small { @apply text-sm leading-5.5; }
  .caption { @apply text-xs leading-5; }
  .pixie { @apply text-[0.625rem] leading-3; }
}