@layer components {
    .textarea-refactor-root {
        @apply w-full flex flex-col gap-2;
    }

    .textarea-refactor-label {
        @apply block text-sm font-semibold text-[#262626];
    }

    .textarea-refactor-wrapper {
        @apply relative w-full;
    }

    .textarea-refactor-clear {
        @apply absolute top-2 right-2 p-1 rounded cursor-pointer text-gray-400 hover:text-gray-600 hover:bg-gray-100 transition-all duration-200;
    }

    .textarea-refactor-label-error {
        @apply !text-red-500;
    }

    .textarea-refactor-element {
        @apply w-full box-border text-sm leading-5 outline-none transition-all duration-200 resize-none;
        min-height: 100px; 
        padding: 10px 12px 10px 12px; 
        border: 1px solid #D9D9D9; 
        border-radius: 4px;
    }

    .textarea-refactor-element-normal {
        @apply bg-white text-gray-700 placeholder-gray-400;
    }

    .textarea-refactor-element-normal:hover {
        @apply border-[#b23131]; 
    }

    .textarea-refactor-element-normal:hover::placeholder {
        @apply text-gray-500; 
    }

    .textarea-refactor-element-normal:focus {
        @apply border-[#D9D9D9] ring-1 ring-[#D9D9D9];
    }

    .textarea-refactor-element-normal:focus::placeholder {
        @apply text-gray-500; 
    }

    .textarea-refactor-element-error {
        @apply !border-red-500 text-red-600 placeholder-red-300;
    }

    .textarea-refactor-element-error:focus {
        @apply !border-red-500 ring-1 ring-red-500;
    }

    .textarea-refactor-element-disabled {
        @apply bg-[#F5F5F5] border-gray-300 text-gray-500 cursor-not-allowed;
    }


    .textarea-refactor-element-resize {
        @apply resize-y;
    }

    .textarea-refactor-element-no-resize {
        @apply resize-none;
    }

    .textarea-refactor-helper-container {
        @apply flex flex-row items-center justify-between text-xs transition-colors duration-200;
    }

    .textarea-refactor-helper-text {
        @apply font-medium;
    }

    .textarea-refactor-helper-text-normal {
        @apply text-gray-600;
    }

    .textarea-refactor-helper-text-error {
        @apply text-red-500;
    }

    .textarea-refactor-counter {
        @apply ml-auto font-medium;
    }

    .textarea-refactor-counter-normal {
        @apply text-gray-600;
    }

    .textarea-refactor-counter-limit {
        @apply text-red-500;
    }
}
