@layer components {
    .textarea-refactor-element-normal:hover {
        @apply border-gray-500; 
    }

    .textarea-refactor-element-normal:hover::placeholder {
        @apply text-gray-500; 
    }

    .textarea-refactor-element-normal:focus {
        @apply border-gray-400 ring-1 ring-gray-400;
    }

    .textarea-refactor-element-normal:focus::placeholder {
        @apply text-gray-500; 
    }

    .textarea-refactor-element-error:focus {
        @apply ring-1 ring-red-500;
    }
}

